.chatbot-container {
    width: 400px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    background-color: #f8f8f8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chatbot-messages {
    height: 400px;
    overflow-y: scroll;
    padding: 8px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.chatbot-messages::-webkit-scrollbar {
    display: none;
}

.message {
    margin: 8px 0;
    padding: 8px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.5;
    max-width: 260px;
}

.user-message {
    background-color: #007bff;
    color: #fff;
    text-align: left;
}

.ai-message {
    background-color: #f0f0f0;
    text-align: left;
}

.chatbot-input-form {
    display: flex;
    margin-top: 16px;
}

.chatbot-input-form input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px 4px 4px 4px;
    font-size: 16px;
    margin-right: 4px;
    height: 20px;
}

.chatbot-input-form button {
    padding: 8px 16px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px 4px 4px 4px;
    font-size: 16px;
    cursor: pointer;
    height: 35px;
    width: 82px;
}

.chatbot-input-form button:hover {
    background-color: #0056b3;
}

.avatar-user {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-left: 10px;
    background-color: #007bff;
    align-items: center;
    display: inline-flex;
    justify-content: center;
}

.avatar-ai {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: #f0f0f0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.message-unit {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.user-message-unit {
    justify-content: flex-end;
}

.ai-message-unit {
    justify-content: flex-start;
}

.switchButton {
    background-color: black;
    color: white;
    border-radius: 17px;
    cursor: pointer;
    border: 0px;
    height: 24px;
}

.clearButton {
    background-color: red;
    border-radius: 15px;
    float: right;
    color: white;
    border: 0px;
    height: 24px;
    cursor: pointer;
}